# Pandas dataframe

## From a list of dicts¶
### 需求
我的需求是存储下面这样的变量类型。 同时我会增加row

In [44]:
[[4, 2, 'i', np.array([1, 2, 3])], [4, 2, 'i', np.array([1, 2, 3])]]

[[4, 2, 'i', array([1, 2, 3])], [4, 2, 'i', array([1, 2, 3])]]

### prepare

In [45]:
import pandas as pd
import numpy as np
Time = np.arange(10)
Lon = np.arange(10)
Lat = np.arange(10)

### a list of dicts

In [46]:
data0 = [{'Time': Time, 'Lon': Lon, 'Lat': Lat, 'Lon_label':'Lon_09' }, {'Time': Time, 'Lon': Lon, 'Lat': Lat, 'Lon_label':'Lon_10' }]
data0

[{'Time': array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
  'Lon': array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
  'Lat': array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
  'Lon_label': 'Lon_09'},
 {'Time': array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
  'Lon': array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
  'Lat': array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
  'Lon_label': 'Lon_10'}]

### append list to update data

In [47]:
data0.append({'Time': Time, 'Lon': Lon, 'Lat': Lat, 'Lon_label':'Lon_11' })
data0

[{'Time': array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
  'Lon': array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
  'Lat': array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
  'Lon_label': 'Lon_09'},
 {'Time': array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
  'Lon': array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
  'Lat': array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
  'Lon_label': 'Lon_10'},
 {'Time': array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
  'Lon': array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
  'Lat': array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
  'Lon_label': 'Lon_11'}]

### to dataframe

In [49]:
data = pd.DataFrame(data0)
data

,Lat,Lon,Lon_label,Time
0,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]",Lon_09,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
1,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]",Lon_10,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
2,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]",Lon_11,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"

### Item selection

In [50]:
data['Lat'][0]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [51]:
data[1:]

,Lat,Lon,Lon_label,Time
1,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]",Lon_10,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
2,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]",Lon_11,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"